---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import TeamSection from '../components/TeamSection.astro';
import UseCasesSection from '../components/UseCasesSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Steel Manager - Logiciels industriels sur mesure">
  <Header />

  <main>
    <HeroSection />
    <ServicesSection />
    <TeamSection />
    <UseCasesSection />
  </main>

  <Footer />
</Layout>
